<footer>
        <div class="container">
            <div class="footer-content">
                <div class="footer-section">
                    <h3>PetMania</h3>
                    <p>Dê e receba amor em dobro!</p>
                    <p>Rua do Conforto 123, Bairro Tranquilo.</p>
                    <p>Telefone: +34 912 345 678</p>
                    <p>Email:PetMania@gmail.com.br</p>
                </div>
                <div class="footer-section">
                    <h3>Links</h3>
                    <ul>
                        <li><a href="/">Voltar</a></li>
                        <li><a href="#home">Início</a></li>
                        <li><a href="#rooms">Imóveis</a></li>
                        <li><a href="#services">Serviços</a></li>
                        <li><a href="#booking">informações</a></li>
                        <li><a href="/doacao">Doar</a></li>
                        <% if (!user) { %>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/cadastro">Cadastro</a></li>
                        <% } else { %>
                            <% if (user.role === 'admin') { %>
                                <li><a href="/admin">Área Admin</a></li>
                            <% } %>
                            <li><a href="/logout">Sair</a></li>
                        <% } %>
                    </ul>
                </div>
                <div class="footer-section">
                    <h3>Nos Acompanhe</h3>
                    <ul>
                        <li><a href="https://facebook.com">Facebook</a></li>
                        <li><a href="https://instagram.com">Instagram</a></li>
                        <li><a href="https://twitter.com">Twitter</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom">
                <p>© <span id="currentYear"></span> PetMania.Patas com amor </p>
            </div>
        </div>
    </footer>
    
    
    <div id="confirmationModal" class="modal">
        <div class="modal-content">
            <span class="close">×</span>
            <h2>Confirmado</h2>
            <p>Obrigada pela colaboração</p>
        </div>
    </div>

</html>