<header>
    <nav class="container">
        <a href="/" class="logo">PetMania</a>
        <ul class="nav-links">
            <li><a href="/">Voltar</a></li>
            <li><a href="#home">Início</a></li>
            <li><a href="#rooms">Animais</a></li>
            <li><a href="#services">Serviços</a></li>
            <li><a href="#booking">Adotar</a></li>
            <li><a href="/doacao">Doar</a></li>
            <li><a href="/indexCompras">Compras</a></li>

            <% if (!user) { %>
                <!-- Usuário não logado -->
                <li><a href="/login">Login</a></li>
            <% } else { %>
                <!-- Usuário logado -->
                <li>Olá, <%= user.nome ? user.nome : 'Usuário' %>!</li>
                <li><a href="/logout">Sair</a></li>
            <% } %>
        </ul>
        <div class="menu-toggle">☰</div>
    </nav>
</header>
